<div class = "shopify-link">
  <span>&copy; {{ 'now' | date: '%Y' }} {{ shop.name }}</span>
  <br>
  <a href="//" target="_blank">{{ 'general.footer.powered_by' | t }}</a>
  <span> • </span>
  <a href = "">Design by Grace Crosland </a>
</div> 